---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
<!-- 
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
 -->

<ul>

  <li>
    <strong>ISCAS 2025</strong> – IEEE International Symposium on Circuits and Systems, London, UK  
    <br>
    <em>Presented: "Image Quality vs Classification Performance in Super-Resolution for SAR Ships"</em>
  </li>

  <li>
    <strong>ICEAA 2024</strong> – IEEE APWC/ICEAA, Lisbon, Portugal  
    <br>
    <em>Presented: "The Importance of Evaluation Metrics in Imbalanced SAR Datasets"</em>
  </li>

  <li>
    <strong>Computing Conference 2022</strong> – Science and Information Conference (SAI), London, UK  
    <br>
    <em>Presented: "What Augmentations Are Sensitive to Hyper-Parameters and Why?"</em>
  </li>

  <li>
    <strong>NBFC Spoke 2 – M18 Conference</strong>, Bologna, Italy (April 2024)  
    <br>
    <em>Talk: Ongoing Research Activities in SAR Deep Learning at ISTI-CNR</em>
  </li>

  <li>
    <strong>ISTI-CNR Internal Research Seminar</strong>, Pisa, Italy (2025)  
    <br>
    <em>Presented Research Updates: Domain Adaptation, Curriculum Learning, Super-Resolution Methods</em>
  </li>

  <li>
    <strong>IIUI Programming Tutorial Session</strong>, Islamabad, Pakistan (2015)  
    <br>
    <em>Gave a tutorial on C++ Programming for Undergraduate Students</em>
  </li>

</ul>
